// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// Variables and Colors
@import "styles/variables-colors";

// Import Base
@import "base";
@import "aos";

// Website / App Styles
@import "styles/header";
@import "styles/footer";
@import "styles/easing";

// Import Base Helpers
@import "base/_helpers";

* { box-sizing: border-box; }

body {
    background: #000;
    background: radial-gradient(#222, #181816);
    // background: url("../img/mountains-1.jpg");
    color: #ccc;
    height: 4000px;
    // overflow: hidden;
    // padding: 10px;
    background-attachment: fixed;
    background-position: center center;

}

a {
    color: #ccc;
}

.container2 {
    padding: 100px;
}

.box {
    // position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 110px;
    // margin: 10px;
}

.box1 {
    // box-shadow: 0 0 0  20px #000 inset;
    width: 100%;
    height: 100%;
    padding:15px;
    background: url("../img/beachDark3.jpg");
    // background-position: center center;
    background-attachment: fixed;
}

.box-inner {
    width: 100%;
    height: 100%;
    background: url("../img/beachDark3.jpg");
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}


.box2 {
    // box-shadow: 0 0 0  20px #000 inset;
    width: 100%;
    height: 100%;
    padding:15px;
    background: url("../img/people.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.box-inner2 {
    width: 100%;
    height: 100%;
    background: url("../img/people.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box-inner3 {
    width: 100%;
    height: 100%;
    background: url("../img/beachDark3.jpg");
    // background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 5px;
}

.divider {
    width: 90%;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.divider1 {
    background: url("../img/beachDark3.jpg");
    top: 50px;
}

.divider2 {
    background: url("../img/beachDark3.jpg");
    bottom: 50px;
}

.divider3 {
    background: url("../img/beachDark.jpg");
    top: 50px;
    height: 100px;
}

.divider4 {
    background: url("../img/people.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.box-inner2 {
    width: 100%;
    height: 100%;
}

// Scrolltop styling
.scrollTop {
    @include arrow(14px, #fff, up);
    display: inline-block;
    cursor: pointer;
    padding: 30px;
    height: 28px;
    padding-top: 4px;
    bottom: 0px;
    font-size: 14px;
    color: #b46357;
    background: #fff;
    transition: all .5s;
    &:before {
        transition: all .5s;
        border-bottom-color: #fff;
    }
    &:hover {
        background: #aaa;
        &:before {
            border-bottom-color: #aaa;
        }
    }
}




/*==============================
=            Loader            =
==============================*/

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


/*=====  End of Loader  ======*/




/*====================================
=            One Page Nav            =
====================================*/


nav{
  -webkit-backface-visibility: hidden;
  z-index: 5;
  position: fixed;
  top: 10%;

  right: 0px;
  margin: auto;
  width: 100px;
}

nav li{
  height: 20px;
  margin: 20px 0px;
  list-style: none;
}

nav a{
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  border-radius: 25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  position: relative;
  left: 0px;
  top: 0px;
}
nav a:hover,
nav a.active {
    background-color: #fff;
    width: 30px;
    height: 30px;
    left: -3px;
    top: -2px;
}

nav a.active {
    background-color: #888;
    }

.red { background-color: #111; }
.blue { background-color: #222; }
.green { background-color: #111; }
.pink { background-color: #222; }
.black { background-color: #111; }



/*=====  End of One Page Nav  ======*/