// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// Variables and Colors
@import "styles/variables-colors";

// Import Base
@import "base";

// Website / App Styles
@import "styles/header";
@import "styles/footer";

// Import Base Helpers
@import "base/_helpers";

* { box-sizing: border-box; }

body {
    background: #000;
    // background: radial-gradient(#eee, #333);
    background: url("../img/beachDark.jpg");
    color: black;
    height: 4000px;
    // overflow: hidden;
    // padding: 10px;
    background-attachment: fixed;
    background-position: center center;

}

.box {
    // position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 110px;
    // margin: 10px;
}

.box1 {
    // box-shadow: 0 0 0  20px #000 inset;
    width: 100%;
    height: 100%;
    padding:15px;
    background: url("../img/beachDark3.jpg");
    // background-position: center center;
    background-attachment: fixed;
}

.box-inner {
    width: 100%;
    height: 100%;
    background: url("../img/beachDark3.jpg");
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}


.box2 {
    // box-shadow: 0 0 0  20px #000 inset;
    width: 100%;
    height: 100%;
    padding:15px;
    background: url("../img/people.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.box-inner2 {
    width: 100%;
    height: 100%;
    background: url("../img/people.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box-inner3 {
    width: 100%;
    height: 100%;
    background: url("../img/beachDark3.jpg");
    // background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 5px;
}

.divider {
    width: 90%;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.divider1 {
    background: url("../img/beachDark3.jpg");
    top: 50px;
}

.divider2 {
    background: url("../img/beachDark3.jpg");
    bottom: 50px;
}

.divider3 {
    background: url("../img/beachDark.jpg");
    top: 50px;
    height: 100px;
}

.divider4 {
    background: url("../img/people.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.box-inner2 {
    width: 100%;
    height: 100%;
}


.scrollTop {
    @include arrow(14px, #fff, up);
    display: inline-block;
    cursor: pointer;
    padding: 30px;
    height: 28px;
    padding-top: 4px;
    bottom: 0px;
    font-size: 14px;
    color: #b46357;
    background: #fff;
    transition: all .5s;
    &:before {
        transition: all .5s;
        border-bottom-color: #fff;
    }
    &:hover {
        background: #aaa;
        &:before {
            border-bottom-color: #aaa;
        }
    }
}

// Multi-color
.gradientMulti {
    background: url(http://p1.pichost.me/i/11/1344899.jpg) no-repeat;
    background-size: cover;
}

// Center Light to Dark
.gradientGray {
    background: #000;
    background: radial-gradient(#222, #000);
}